name: NNC Plugin
on: [push, workflow_dispatch]

jobs:
  check-format-and-copyright:
    runs-on: ubuntu-latest
    steps:
      - name: Clone NNC Plugin
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Check
        run: |
          python3 -m pip install autopep8 tqdm
          python3 tools/scripts/copyright_checker.py
          bash tools/scripts/check_diff.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: format diff
          path: output/format

  check-help-messages:
    runs-on: ubuntu-latest
    steps:
      - name: Clone NNC Plugin
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Check
        run: |
          python3 -m pip install nnabla
          python3 -m pip install --only-binary :all: janome nltk scikit-learn plotly matplotlib scikit-image opencv-python
          bash tools/scripts/check_plugin_help.sh
